# Convert this to an .env file and update the values before executing setup-argocd.sh - also, be sure to never commit secrets to git!

# GitHub Machine User Credentials
ARGOCD_MACHINE_USER="your-argocd-machine-username"
GITHUB_TOKEN="ghp_yourGitHubPersonalAccessToken"
ARGOCD_MACHINE_EMAIL="your-email@example.com"

# Organization/App Config (optional - these are also already set in setup-argocd.sh)
GITHUB_ORG="essesseff-hello-world-go-template"
APP_NAME="hello-world"
# ENVIRONMENT="dev"
